**Data types and Structures**


**Theoretical questions**

**Question no 1. What are data structures and why they are important?**

**Answer:-** Data structures are the way of organizing, storing, and managing data so it can be used efficiently.
They are important because.

1.They help save memory and organize data neatly.

2.They make your programs cleaner, more readable, and easier to manage.

3.They are used in various problems like searching, sorting, AI, machine learning, databases, and more.

4.We can find, add, or remove data quickly.

**Question no 2. Explain the difference between mutable and immutable data types with examples.**

**Answer:-** **Mutables data types** - This type of data which can be acessed and changed/replace once they are created. There memory location remains the same after the modifications.

Examples are list, dict and set.

**Immutables data types** - This type of data which can not be acessed and changed/replace once they are created. There memory location does not remains the same but a new memory location is made after the modifications.

Examples are str and tuples.

**Question no 3. What are the main differance between the lists and tuples in python.**

**Answer:-**The main difference between the list and tuples is that the lists are mutable whereas the tuples are immutable, which means we can edit or change the data in list once they are created while in the case of tuples we can not edit or not able to make any change in the data once they are created.

**Question no. 4. Describe how dictionaries stores data.**

**Answer.** A dictionart store the data in the form of key value pair. They are the fastest data structure. Dictionary are unique and immutable.

for example: d = {"name":"Ajay", "email":"ajaya12@gmail.com","contact no":456887654}.

**Question no. 5. Why might you use a set instead of a list in python.**

 **Answer.** when there is a situation in which we want to store unique elements only, which need fast searching, need to perform set operations and if the order of the element doesn't matter then in that condition we will choose set over list.

 **Question no. 6. What is a string in python and how it is different from list.**

 **Answer.** A string is a sequence of characters which are enclosed in single ('), double ("), or triple quotes (''' or """).

 In strings we can only store textual data, while in case of list we can store any types of data like strings, integer, float, boolean, etc. list are mutable unlike strings.

 **Question no. 7. How do tuples ensures data integrity in python.**

 **Answer.** Data integrity means protecting data from being changed intentionally. It ensures that once data is set, it stays same as provided.
 Tuples are immutable in nature which means we cannot change a data once it is provided and this ensures the data integrity.

In [1]:
#for example
data = (10,20,30,40,50)
#if we want to change first element of data from 10 to 101
data[0]

10

In [2]:
data[0] = 101
# here we are trying to chnage the element which will give error

TypeError: 'tuple' object does not support item assignment

**Question no. 8. What is a hash table and how does it relates to dictionaries in python.**

**Answer.** A hash table is a data structure that stores key-value pairs. It uses a process called hashing to convert a key into an index where the value is stored. Hash table reltes to dictionaries as the the dictionaaries (dict) are built using a hash table under the hood.

**Question no. 9. Can lists contain different data types in Python.**

**Answer.** lists are dynamic, flexible and can hold a mix of any data types. it does not if the data type is string, integer, float or boolean.

In [ ]:
#for example
my_list = [10, "Hello", 3.14, True, [1, 2, 3]]

**Question no. 10. Explain why strings are immutable in python?**

**Answer.** Immutable means unchangeable. Once a string is created, we cannot change its characters. Strings are often used for identifiers, keys, and important data like filenames, URLs, etc. Making them immutable helps prevent making changes.

In [3]:
#for example
string = "This is a string"
string[0]

'T'

In [5]:
string[0]="Y"
#here we are trying to chnage the character t with the y.

TypeError: 'str' object does not support item assignment

**Question no. 11. What advantages do dictionaries offer over lists for certain tasks.**

**Answer.** A list stores data by position/index while a dictionary stores data as key–value pairs.

Advantages of dictionaries over the list are as follows.

1.Accessing a value by key (e.g., data["name"]) is much faster than searching through a list.

2.Keys describe the data, making it easier to understand (student["name"] vs student[0]).

3.You can store many types of related information together, like a record.

4.Prevents duplicate entries for the same item — enforces data integrity.

5.Efficient for large data	Handles large, structured datasets with fast performance.


**Question no. 12. Describe a scenario where using a tuple would be preferable over a list.**

**Answer.** let us say we're building a map or a game and it need to store the position of an object at a fixed place now in this case we can use list, and tuple but list are mutable making it suseptible to make change thus in this case we will prefer tuple over the list as tuple is immutable means we cannot change the position of the object once it is entered.

**Question no. 13. How do sets handle duplicate values in Python.**

**Answer.** A set in Python is a unordered collection which contains only unique values. When we add elements to a set, Python checks for duplicates. If a value is already present, it won’t be added again.

In [9]:
my_set = {1, 2, 3, 2, "ram", 4, 1, "ram", 3, 5, 5,}
print(my_set)

{1, 2, 3, 4, 5, 'ram'}

In [ ]:
#here we have some duplicate value but they are not reflected again and again.

**Question no. 14. How does the "in" keyword work differntly for lists and dictionaries.**

**Answer.** in keyword work differently for list and dictionary lest us understand this with the example.

In [10]:
fruits = ["apple", "banana", "cherry"]
print("apple" in fruits)

True

In [11]:
print("mango" in fruits)

False

In [12]:
person = {"name": "Ravi", "age": 21}
print("name" in person)
print("Ravi" in person)

True
False

in the above mentioned example when we are trying to find an element in the list using "in" it is giving us the results also in the case of the dictionary we are trying to find the element ravi it is there but giving the false result, as it is in the key value pair.

**Question no. 15. Can you modify the elements of a tuple? Explain why or why not.**

**Answer.** No, we cannot modify the elements of a tuple as tuples are immutable, meaning once created, their elements cannot be changed, added, or removed.

1.Tuple prevents changes to data that shouldn’t change (e.g., coordinates, dates).

2.Tuples can be used as keys in dictionaries, but lists cannot.

3.Tuples are generally faster and use less memory than lists.

we cannot change an item, append new items and delete items.

**Question no. 16. What is a nested dictionary,  and give an example of its use case.**

**Answer.** A nested dictionary is a dictionary inside another dictionary.

In [15]:
students = {"Ravi": {"age": 21, "grade": "A", "city": "Delhi"},
    "Priya": {"age": 20, "grade": "B", "city": "Mumbai"},
    "Amit": {"age": 22, "grade": "A", "city": "Chennai"}}
print(students["Ravi"])
print(students["Priya"])

{'age': 21, 'grade': 'A', 'city': 'Delhi'}
{'age': 20, 'grade': 'B', 'city': 'Mumbai'}

its use cases are:

1.Storing student info, employee records, product specs

2.Grouping related info under a single key

**Question no. 17 Describe the time complexity of accessing elements in a dictionary.**

**Answer.** Dictionaries store data using a hash table, which allows for very fast access to elements by their keys. The average time complexity for accessing an element using its key is O(1), meaning it takes constant time regardless of the dictionary's size. This efficiency is due to the way Python computes a hash for each key and uses it to directly find the value. In rare cases, such as hash collisions, the time complexity can degrade to O(n), but this is uncommon due to Python's efficient handling. Overall, dictionaries offer quick and reliable access to data using unique keys.

**Question no. 18. In what situations are lists preferred over dictonaries?**

**Answer.**Lists are preferred over dictionaries in the following situations:

When order have importance– Lists maintain the order of elements, which is useful when sequence is important.

For storing simple collections – Use lists when we just need to store values (like numbers, names, etc.) without labels.

When indexing by position – Lists are ideal when we want to access elements using numeric indices (e.g., list[0]).

When data doesn't require key-value pairs – If we don’t need to associate data with unique identifiers, a list is simpler.

When duplicates are allowed – Lists allow repeated values, unlike sets or dictionary keys.

**Question no. 19. Why are dictionaries considered unordered, and how does that  affect data retrieval?**

**Answer.**Dictionaries in Python considered unordered because the elements (key-value pairs) were not stored in any predictable sequence. This meant that when we retrieved or looped through a dictionary, the order of items could differ from the order in which they were added.

It affects data retrieval as follows:

we cannot access values by position (e.g., dict[0] won’t work).

Retrieval is done by keys only, so you must know the exact key.

**Question no. 20. Explain the difference between a list and a dictionary in terms of data retrieval.**

**Answer.**The key difference between a list and a dictionary in terms of data retrieval are as follows:

**List**:
Data is retrieved using index numbers.

Example: my_list[2] retrieves the third element.

Useful when the position of items matters.

**Dictionary**:
Data is retrieved using unique keys.

Example: my_dict["name"] retrieves the value associated with the key "name".

Best when we want to associate values with identifiers.

**Practical Questions**

**Question no. 1. Write a code to create a string with your name and print it.**

In [16]:
name = "My name is Ritesh Kumar"
print(name)

My name is Ritesh Kumar

**Question no. 02. Write a code to find the length of the string "Hello World".**

In [17]:
a = "Hello World"
len(a)

11

**Question no. 03. Write a code to slice the first 3 charcters from the string "Python Programming".**

In [19]:
t = "Python Programming"
t[0:3]

'Pyt'

**Question no. 04. Write a code to convert the string "hello" to uppercase.**

In [21]:
i = "hello"
i.upper()

'HELLO'

**Question no. 05. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [22]:
y = "I like apple"
y.replace("apple","orange")

'I like orange'

**Question no. 06. Write a code to create a list wiht numbers 1 to 5 and print it.**

In [23]:
p = [1,2,3,4,5]
print(p)

[1, 2, 3, 4, 5]

**Question no. 07. Write a code to append the number 10 to the list [1,2,3,4].**

In [26]:
j = [1,2,3,4]
j.append(10)
j

[1, 2, 3, 4, 10]

**Question no. 08. Write a code to remove the number 3 from the list [1,2,3,4,5].**

In [27]:
v = [1,2,3,4,5]
v.remove(3)
v

[1, 2, 4, 5]

**Question no. 09. Write a code to access the second element in the list ['a','b','c','d'].**

In [29]:
m = ['a','b','c','d']
m[1]

'b'

**Question no. 10. Write a code to reverse the list [10,20,30,40,50].**

In [30]:
n = [10,20,30,40,50]
n[::-1]

[50, 40, 30, 20, 10]

**Question no. 11. Write a code to create a tuple with the element 100, 200,300 and print it.**

In [31]:
l=(100, 200,300)
print(l)

(100, 200, 300)

**Question no. 12. Write a code to acesss the second to last element of the tuple ('red', 'green','blue','yellow').**

In [34]:
g = ('red', 'green','blue','yellow')
g[1:4]

('green', 'blue', 'yellow')

**Question no. 13. Write a code to find the minimum number in the tuple (10,20,5,15).**

In [37]:
k = (10,20,5,15)
min(k)

5

** Question no. 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat' , 'rabbit').

In [38]:
x = ('dog', 'cat' , 'rabbit')
x.index("cat")

1

**Question no. 15. Write a code to create a tuple containing three different fruits and check and if "kiwi" is in it.**

In [1]:
fruits= ('apple', 'banana', 'orange')
"kiwi" in fruits

False

**Question no. 16. Write a code to create a set with the elements 'a', 'b' , 'c' and print it.**

In [3]:
e = {"a", "b", "c"}
print(e)

{'b', 'c', 'a'}

**Question no 17. Write a code to clear all elements from the set {1,2,3,4,5}.**

In [5]:
t = {1,2,3,4,5}
t.clear()
t

set()

**Question no. 18. Write a code to remove element 4 from the set {1,2,3,4}.**

In [6]:
y ={1,2,3,4}
y.remove(4)
y

{1, 2, 3}

**Question no. 19. Write a code to find the union of the two sets {1,2,3} and {4,5,6}.**

In [11]:
a = {1,2,3}
b = {4,5,6}
print(a|b)

{1, 2, 3, 4, 5, 6}

**Question no. 20. write a code to find the intersection of the two sets {1,2,3} and {2,3,4}.**

In [12]:
a = {1,2,3}
b = {2,3,4}
a&b

{2, 3}

**Question no. 21. Write a code to create a dictionary with the keys "name", "age" and "city" and print it.**

In [14]:
i = {"name":"Ritesh", "age": 23, "city":"Dehradun"}
print(i)

{'name': 'Ritesh', 'age': 23, 'city': 'Dehradun'}

**Question no. 22. Write a code to add a new  key value pair to "country": "USA" to the dictionary {"name":"John", "age": 25}.**

In [16]:
p = {"name":"John", "age": 25}
p["country"]="USA"
p

{'name': 'John', 'age': 25, 'country': 'USA'}

***Question no. 23. Write a code to access the value associated wiht the key"name" in the dictionary {"name":"Alice", "age": 30}.**

In [17]:
o = {"name":"Alice", "age": 30}
o["name"]

'Alice'

**Question no. 24. Write a code to remove the key "age" from the dictionary {"name":"Bod", "age": 22, "city":"New York"}.**

In [19]:
t = {"name":"Bod", "age": 22, "city":"New York"}
del t["age"]
t

{'name': 'Bod', 'city': 'New York'}

**Question no. 25. Write a code to check if the key "city" exists in the dictionary {"name":"Alice", "city": "Paris"}.**

In [20]:
person = {"name": "Alice", "city": "Paris"}
"city" in person

True

**Question no. 26. Write a code to creat a list, tuple and a dictionary and print all of them.**

In [21]:
my_list = [10, 20, 30]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'John', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25}

**Question no. 27. Write a code to create a list of 5 random numberes between 1 and 100, sort it in asencending ordeder,  and print the result.( replaced).**

In [22]:
import random

k = [random.randint(1, 100) for _ in range(5)]
k.sort()
print("Sorted list:", k)

Sorted list: [7, 41, 59, 80, 91]

**Question no. 28. Write a code to creat strings and print the element at the third index.**

In [23]:
o = "Hello, World!"
print(o[3])

l

**Question no. 29. Write a code to combine two dictionaries into one and print and result.**

In [25]:
x = {'a': 1, 'b': 2}
y = {'c': 3, 'd': 4}

combined_dict = {**x,**y}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Question no. 30. Write a code to convert a list of strings into a set.**

In [26]:
l = ['apple', 'banana', 'apple', 'cherry', 'banana']
s = set(l)

print("Set of strings:", s)

Set of strings: {'apple', 'banana', 'cherry'}